apiVersion: v1
kind: Namespace
metadata:
  name: userapi-ns
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-api
  namespace: userapi-ns
spec:
  selector:
    matchLabels:
      app: user-api
  template:
    metadata:
      labels:
        app: user-api
    spec:
      dnsPolicy: ClusterFirstWithHostNet
      hostNetwork: true
      terminationGracePeriodSeconds: 60
      containers:
      - name: user-api
        image: user-api-image
        resources: {}
        ports:
        - name: user-api
          containerPort: 4000
---
apiVersion: v1
kind: Service
metadata:
  name: user-svc
  namespace: userapi-ns
spec:
  selector:
    app: user-api
  ports:
  - port: 4000
    targetPort: user-api
